img {
  display: block;
  margin: 0 auto;
}

#imag {
	float: left;
	margin: 0 30% 0 40%;
}


#foot {
	float: left;
	margin: 0 0 0 2%;
	
}

.listing {
	float: left;
	margin: 0 0 0 2%;
	
}

.listing2 {
	float: right;
	margin: 0 2% 0 0;
	
}

.head {
	float: right;
	margin: 0 0 0 2%;
	
}

.centr {
	float: right;
	margin: 0 0 0 10%;
	
}

#enl {
	float: left;
	margin: 0 0 0 30%;
}

.input {
	margin: 0 0 0 35%;
	
	
}


	